@inject IJSRuntime JSRuntime

<label>
    Select color:
    <select @onchange="ChangeSymbol">
        <option value="">Select color ...</option>
        <option value="#FF0000">Red</option>
        <option value="#00FF00">Green</option>
        <option value="#0000FF">Blue</option>
    </select>
</label>

@code {
    private String colorCode = "";

     protected override async Task OnAfterRenderAsync(bool firstRender) {
        var cookie = await JSRuntime.InvokeAsync<object>("blazorExtensions.ReadCookie", "Color");
    }

    private async Task ChangeSymbol(ChangeEventArgs e) {
        colorCode = e.Value.ToString();   
        await WriteCookeAsync();     
    } 

    public async Task WriteCookeAsync() {
        var test = await JSRuntime.InvokeAsync<object>("blazorExtensions.WriteCookie", "Color", colorCode, 7);
    }

    
}